:root {
    --gutter: 20px;
}

.appion {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

.appion>* {
    grid-column: 2 / -2;
}

.appion>.full {
    grid-column: 2 / -2;
}

.hax {
    padding-top: 0px;
    height: 185px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * auto);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-top: 0px
}

.gfv {
    border: 2px;
    border-color: rgb(17, 17, 17);
    padding: 10px;
    background-color: rgb(226, 221, 221);
}

.hs {
    display: grid;
    grid-template-columns: 4px;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * auto);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-top: 0px;
}

.hs:before,
.hs:after {
    content: '';
}


/* Demo styles */

html,
ul {
    list-style: none;
    padding: 0;
    padding-right: 1px;
    padding-left: 1px;
}

.li,
.item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 3 * 1.5);
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    background: #fff;
    border-color: rgb(233, 224, 212);
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.v-ul {
    list-style-type: circle;
    padding-left: 3;
}


/*just bg and body style*/

.container {
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.center {
    text-align: center;
}

#top {
    margin-top: 20px;
}

.btn-container {
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.imgupload {
    color: #1E2832;
    padding-top: 40px;
    font-size: 7em;
}

#namefile {
    color: black;
}

h4>strong {
    color: #ff3f3f
}

.btn-primary {
    border-color: #ff3f3f !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3f3f !important;
}


/*these two are set to not display at start*/

.imgupload.ok {
    display: none;
    color: green;
}

.imgupload.stop {
    display: none;
    color: red;
}


/*this sets the actual file input to overlay our button*/

#fileup {
    opacity: 0;
    -moz-opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    height: 50px;
}


/*switch between input and not active input*/

#submitbtn {
    padding: 5px 50px;
    display: none;
}

#fakebtn {
    padding: 5px 40px;
}


/*www.emilianocostanzo.com*/

#sign {
    color: #1E2832;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-shadow: 0px 0px 0px #1E2832;
    transition: all.3s;
}

#sign:hover {
    color: #1E2832;
    text-shadow: 0px 0px 5px #1E2832;
}


/*just bg and body style*/

.container {
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.center {
    text-align: center;
}

#top {
    margin-top: 20px;
}

.btn-container {
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.imgupload {
    color: #1E2832;
    padding-top: 40px;
    font-size: 7em;
}

#namefile {
    color: black;
}

h4>strong {
    color: #ff3f3f
}

.btn-primary {
    border-color: #ff3f3f !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3f3f !important;
}


/*these two are set to not display at start*/

.imgupload.ok {
    display: none;
    color: green;
}

.imgupload.stop {
    display: none;
    color: red;
}


/*this sets the actual file input to overlay our button*/

#fileup {
    opacity: 0;
    -moz-opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    height: 50px;
}


/*switch between input and not active input*/

#submitbtn {
    padding: 5px 50px;
    display: none;
}

#fakebtn {
    padding: 5px 40px;
}


/*www.emilianocostanzo.com*/

#sign {
    color: #1E2832;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-shadow: 0px 0px 0px #1E2832;
    transition: all.3s;
}

#sign:hover {
    color: #1E2832;
    text-shadow: 0px 0px 5px #1E2832;
}


/*just bg and body style*/

.container {
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.center {
    text-align: center;
}

#top {
    margin-top: 20px;
}

.btn-container {
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.imgupload {
    color: #1E2832;
    padding-top: 40px;
    font-size: 7em;
}

#namefile {
    color: black;
}

h4>strong {
    color: #ff3f3f
}

.btn-primary {
    border-color: #ff3f3f;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ff3f3f;
}


/*these two are set to not display at start*/

.imgupload.ok {
    display: none;
    color: green;
}

.imgupload.stop {
    display: none;
    color: red;
}


/*this sets the actual file input to overlay our button*/

#fileup {
    opacity: 0;
    -moz-opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    width: 200px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    height: 50px;
}


/*switch between input and not active input*/

#submitbtn {
    padding: 5px 50px;
    display: none;
}

#fakebtn {
    padding: 5px 40px;
}


/*www.emilianocostanzo.com*/

#sign {
    color: #1E2832;
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-shadow: 0px 0px 0px #1E2832;
    transition: all.3s;
}

#sign:hover {
    color: #1E2832;
    text-shadow: 0px 0px 5px #1E2832;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #882b2b;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* Style the tab */

.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current "tab button" class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    border-left: none;
}


/*overlay*/

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


/*payment css*/

* {
    margin: 0;
    padding: 0
}

#border-btm {
    padding-bottom: 20px;
    margin-bottom: 0px;
    box-shadow: 0px 35px 2px -35px rgb(119, 119, 119)
}

#test {
    margin-top: 0px;
    margin-bottom: 40px;
    border: 1px solid #FFE082;
    border-radius: 0.25rem;
    height: 30px;
    background-color: #FFECB3
}

.active1 {
    color: #2f5a92 !important;
    font-weight: bold
}

.list-group .tabs {
    color: #000000
}

#new-label {
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
    background-color: red;
    color: #ffffff;
    border-radius: 5px;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #fff !important;
    border-color: #fff !important
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0
    }
    #page-content-wrapper {
        min-width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        display: none
    }
}

.card0 {
    margin-top: 10px;
    margin-bottom: 10px
}

.top-highlight {
    color: #00C853;
    font-weight: bold;
    font-size: 20px
}

.form-card input,
.form-card textarea {
    border: none;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: arial;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

.form-card input:focus,
.form-card textarea:focus {
    -moz-box-shadow: 0px 0px 0px 1.5px skyblue !important;
    -webkit-box-shadow: 0px 0px 0px 1.5px skyblue !important;
    box-shadow: 0px 0px 0px 1.5px skyblue !important;
    font-weight: bold;
    border: 1px solid skyblue;
    outline-width: 0
}

#below-btn a {
    font-weight: bold;
    color: #000000
}

.input-group {
    position: relative;
    overflow: hidden
}

.input-group input {
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 6px;
    padding-top: 30px;
    padding-left: 25px
}

.input-group label {
    position: absolute;
    background: none;
    border-radius: 6px;
    line-height: 48px;
    font-size: 15px;
    color: gray;
    width: 100%;
    font-weight: 100;
    padding-left: 25px
}

input:focus+label {
    color: #1E88E5
}

#qr {
    margin-bottom: 150px;
    margin-top: 50px
}

.ktit {
    height: 350px
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f0f2;
}

.inbox-wrapper .email-aside .aside-content .aside-header {
    padding: 0 0 5px;
    position: relative;
}

.inbox-wrapper .email-aside .aside-content .aside-header .title {
    display: block;
    margin: 3px 0 0;
    font-size: 1.1rem;
    line-height: 27px;
    color: #686868;
}

.inbox-wrapper .email-aside .aside-content .aside-header .navbar-toggle {
    background: 0 0;
    display: none;
    outline: 0;
    border: 0;
    padding: 0 11px 0 0;
    text-align: right;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

@media (max-width: 991px) {
    .inbox-wrapper .email-aside .aside-content .aside-header .navbar-toggle {
        display: block;
    }
}

.inbox-wrapper .email-aside .aside-content .aside-header .navbar-toggle .icon {
    font-size: 24px;
    color: #71738d;
}

.inbox-wrapper .email-aside .aside-content .aside-compose {
    text-align: center;
    padding: 14px 0;
}

.inbox-wrapper .email-aside .aside-content .aside-compose .btn,
.inbox-wrapper .email-aside .aside-content .aside-compose .fc .fc-button,
.fc .inbox-wrapper .email-aside .aside-content .aside-compose .fc-button,
.inbox-wrapper .email-aside .aside-content .aside-compose .swal2-modal .swal2-actions button,
.swal2-modal .swal2-actions .inbox-wrapper .email-aside .aside-content .aside-compose button,
.inbox-wrapper .email-aside .aside-content .aside-compose .wizard>.actions a,
.wizard>.actions .inbox-wrapper .email-aside .aside-content .aside-compose a {
    padding: 11px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav {
    visibility: visible;
    padding: 0 0;
}

.inbox-wrapper .email-aside .aside-content .aside-nav.collapse {
    display: block;
}

@media (max-width: 991px) {
    .inbox-wrapper .email-aside .aside-content .aside-nav.collapse {
        display: none;
    }
}

@media (max-width: 991px) {
    .inbox-wrapper .email-aside .aside-content .aside-nav.show {
        display: block;
    }
}

.inbox-wrapper .email-aside .aside-content .aside-nav .title {
    display: block;
    color: #3d405c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 0;
    padding: 8px 14px 4px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li {
    width: 100%;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    color: #71748d;
    padding: 7px 14px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a:hover {
    text-decoration: none;
    background-color: rgba(114, 124, 245, 0.1);
    color: #727cf5;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .icon svg {
    width: 18px;
    margin-right: 10px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .badge {
    margin-left: auto;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li a svg {
    width: 18px;
    margin-right: 10px;
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li.active a {
    color: #ff3366;
    background: rgba(255, 51, 102, 0.1);
}

.inbox-wrapper .email-aside .aside-content .aside-nav .nav li.active a .icon {
    color: #ff3366;
}

.inbox-wrapper .email-content .email-inbox-header {
    background-color: transparent;
    padding: 18px 18px;
}

.inbox-wrapper .email-content .email-inbox-header .email-title {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1rem;
}

.inbox-wrapper .email-content .email-inbox-header .email-title svg {
    width: 20px;
    margin-right: 10px;
    color: #686868;
}

.inbox-wrapper .email-content .email-inbox-header .email-title .new-messages {
    font-size: .875rem;
    color: #686868;
    margin-left: 3px;
}

.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .btn,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc .fc-button,
.fc .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc-button,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .swal2-modal .swal2-actions button,
.swal2-modal .swal2-actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn button,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .wizard>.actions a,
.wizard>.actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn a {
    border-radius: 0;
    padding: 4.5px 10px;
}

.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .btn svg,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc .fc-button svg,
.fc .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .fc-button svg,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .swal2-modal .swal2-actions button svg,
.swal2-modal .swal2-actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn button svg,
.inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn .wizard>.actions a svg,
.wizard>.actions .inbox-wrapper .email-content .email-inbox-header .input-search .input-group-btn a svg {
    width: 18px;
}

.inbox-wrapper .email-content .email-filters {
    padding: 20px;
    border-bottom: 1px solid #e8ebf1;
    background-color: transparent;
    width: 100%;
    border-top: 1px solid #e8ebf1;
}

.inbox-wrapper .email-content .email-filters>div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.inbox-wrapper .email-content .email-filters .email-filters-left .btn-group,
.inbox-wrapper .email-content .email-filters .email-filters-left .fc .fc-toolbar.fc-header-toolbar .fc-left .fc-button-group,
.fc .fc-toolbar.fc-header-toolbar .fc-left .inbox-wrapper .email-content .email-filters .email-filters-left .fc-button-group,
.inbox-wrapper .email-content .email-filters .email-filters-left .fc .fc-toolbar.fc-header-toolbar .fc-right .fc-button-group,
.fc .fc-toolbar.fc-header-toolbar .fc-right .inbox-wrapper .email-content .email-filters .email-filters-left .fc-button-group {
    margin-right: 5px;
}

.inbox-wrapper .email-content .email-filters .email-filters-left input {
    margin-right: 8px;
}

.inbox-wrapper .email-content .email-filters .email-filters-right {
    text-align: right;
}

@media (max-width: 767px) {
    .inbox-wrapper .email-content .email-filters .email-filters-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-indicator {
    display: inline-block;
    vertical-align: middle;
    margin-right: 13px;
}

.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .btn svg,
.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .fc .fc-button svg,
.fc .inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .fc-button svg,
.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .swal2-modal .swal2-actions button svg,
.swal2-modal .swal2-actions .inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav button svg,
.inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav .wizard>.actions a svg,
.wizard>.actions .inbox-wrapper .email-content .email-filters .email-filters-right .email-pagination-nav a svg {
    width: 18px;
}

.inbox-wrapper .email-content .email-filters .be-select-all.custom-checkbox {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0 30px 0 0;
}

.inbox-wrapper .email-content .email-list .email-list-item {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #e8ebf1;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.inbox-wrapper .email-content .email-list .email-list-item:hover {
    background: rgba(114, 124, 245, 0.08);
}

.inbox-wrapper .email-content .email-list .email-list-item:last-child {
    margin-bottom: 5px;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions {
    width: 40px;
    vertical-align: top;
    display: table-cell;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .form-check {
    margin-bottom: 0;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .form-check i::before {
    width: 15px;
    height: 15px;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .form-check i::after {
    font-size: .8rem;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite {
    display: block;
    padding-left: 1px;
    line-height: 15px;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite span svg {
    width: 14px;
    color: #686868;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite:hover span {
    color: #8d8d8d;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-actions .favorite.active span svg {
    color: #fbbc06;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .from {
    display: block;
    font-weight: 400;
    margin: 0 0 1px 0;
    color: #000;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .msg {
    margin: 0;
    color: #71738d;
    font-size: .8rem;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .date {
    color: #000;
}

.inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .date .icon svg {
    width: 14px;
    margin-right: 7px;
    color: #3d405c;
}

.inbox-wrapper .email-content .email-list .email-list-item.email-list-item--unread {
    background-color: rgba(114, 124, 245, 0.09);
}

.inbox-wrapper .email-content .email-list .email-list-item.email-list-item--unread .from {
    color: #000;
    font-weight: 800;
}

.inbox-wrapper .email-content .email-list .email-list-item.email-list-item--unread .msg {
    font-weight: 700;
    color: #686868;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-header .navbar-toggle .icon {
    position: absolute;
    top: 0;
    left: 0;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav {
    padding-right: 0;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .icon svg {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav li a .badge {
    margin-left: 0;
    margin-right: auto;
}

.rtl .inbox-wrapper .email-aside .aside-content .aside-nav .nav li a svg {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .inbox-wrapper .email-content .email-inbox-header .email-title svg {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .inbox-wrapper .email-content .email-inbox-header .email-title .new-messages {
    margin-left: 0;
    margin-right: 3px;
}

.rtl .inbox-wrapper .email-content .email-filters .email-pagination-indicator {
    margin-right: 0;
    margin-left: 13px;
}

.rtl .inbox-wrapper .email-content .email-list .email-list-item .email-list-detail .date .icon svg {
    margin-right: 0;
    margin-left: 7px;
}

.email-head {
    background-color: transparent;
}

.email-head-subject {
    padding: 25px 25px;
    border-bottom: 1px solid #e8ebf1;
}

@media (max-width: 767px) {
    .email-head-subject {
        padding: 25px 10px;
    }
}

.email-head-subject .title {
    display: block;
    font-size: .99rem;
}

.email-head-subject .title a.active .icon {
    color: #fbbc06;
}

.email-head-subject .title a .icon {
    color: silver;
    margin-right: 6px;
}

.email-head-subject .title a .icon svg {
    width: 18px;
}

.email-head-subject .icons {
    font-size: 14px;
    float: right;
}

.email-head-subject .icons .icon {
    color: #000;
    margin-left: 12px;
}

.email-head-subject .icons .icon svg {
    width: 18px;
}

.email-head-sender {
    padding: 13px 25px;
}

@media (max-width: 767px) {
    .email-head-sender {
        padding: 25px 10px;
    }
}

.email-head-sender .avatar {
    float: left;
    margin-right: 10px;
}

.email-head-sender .date {
    float: right;
    font-size: 12px;
}

.email-head-sender .avatar {
    float: left;
    margin-right: 10px;
}

.email-head-sender .avatar img {
    width: 36px;
}

.email-head-sender .sender>a {
    color: #000;
}

.email-head-sender .sender span {
    margin-right: 5px;
    margin-left: 5px;
}

.email-head-sender .sender .actions {
    display: inline-block;
    position: relative;
}

.email-head-sender .sender .actions .icon {
    color: #686868;
    margin-left: 7px;
}

.email-head-sender .sender .actions .icon svg {
    width: 18px;
}

.email-body {
    background-color: transparent;
    border-top: 1px solid #e8ebf1;
    padding: 30px 28px;
}

@media (max-width: 767px) {
    .email-body {
        padding: 30px 10px;
    }
}

.email-attachments {
    background-color: transparent;
    padding: 25px 28px 5px;
    border-top: 1px solid #e8ebf1;
}

@media (max-width: 767px) {
    .email-attachments {
        padding: 25px 10px 0;
    }
}

.email-attachments .title {
    display: block;
    font-weight: 500;
}

.email-attachments .title span {
    font-weight: 400;
}

.email-attachments ul {
    list-style: none;
    margin: 15px 0 0;
    padding: 0;
}

.email-attachments ul>li {
    margin-bottom: 5px;
}

.email-attachments ul>li:last-child {
    margin-bottom: 0;
}

.email-attachments ul>li a {
    color: #000;
}

.email-attachments ul>li a svg {
    width: 18px;
    color: #686868;
}

.email-attachments ul>li .icon {
    color: #737373;
    margin-right: 2px;
}

.email-attachments ul>li span {
    font-weight: 400;
}

.rtl .email-head-subject .title a .icon {
    margin-right: 0;
    margin-left: 6px;
}

.rtl .email-head-subject .icons .icon {
    margin-left: 0;
    margin-right: 12px;
}

.rtl .email-head-sender .avatar {
    margin-right: 0;
    margin-left: 10px;
}

.rtl .email-head-sender .sender .actions .icon {
    margin-left: 0;
    margin-right: 7px;
}

.email-head-title {
    padding: 15px;
    border-bottom: 1px solid #e8ebf1;
    font-weight: 400;
    color: #3d405c;
    font-size: .99rem;
}

.email-head-title .icon {
    color: #696969;
    margin-right: 12px;
    vertical-align: middle;
    line-height: 31px;
    position: relative;
    top: -1px;
    float: left;
    font-size: 1.538rem;
}

.email-compose-fields {
    background-color: transparent;
    padding: 20px 15px;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    margin: -2px -14px;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    border-radius: 0;
    background: #727cf5;
    color: #ffffff;
    margin-top: 0px;
    padding: 4px 10px;
    font-size: 13px;
    border: 0;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice span {
    color: #ffffff;
}

.email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search {
    line-height: 15px;
}

.form-group.row {
    margin-bottom: 0;
    padding: 12px 0;
}

.form-group.row label {
    white-space: nowrap;
}

.email-compose-fields label {
    padding-top: 6px;
}

.email.editor {
    background-color: transparent;
}

.email.editor .editor-statusbar {
    display: none;
}

.email.action-send {
    padding: 8px 0px 0;
}

.btn-space {
    margin-right: 5px;
    margin-bottom: 5px;
}

.breadcrumb {
    margin: 0;
    background-color: transparent;
}

.rtl .email-compose-fields .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
    float: right;
}

.rtl .btn-space {
    margin-right: 0;
    margin-left: 5px;
}

.card {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #f2f4f9;
    border-radius: 0.25rem;
}

.badge {
    padding: 6px 5px 3px;
}

.text-white {
    color: #ffffff !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.float-right {
    float: right !important;
}

.badge-danger-muted {
    color: #212529;
    background-color: #f77eb9;
}