:root {
    --gutter: 20px;
}

.appion {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

.appion>* {
    grid-column: 2 / -2;
}

.appion>.full {
    grid-column: 2 / -2;
}

.hax {
    padding-top: 0px;
    height: 185px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * auto);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-top: 0px
}

.gfv {
    border: 2px;
    border-color: rgb(17, 17, 17);
    padding: 10px;
    background-color: rgb(226, 221, 221);
}

.hs {
    display: grid;
    grid-template-columns: 4px;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * auto);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-top: 0px;
}

.hs:before,
.hs:after {
    content: '';
}


/* Demo styles */

html,
ul {
    list-style: none;
    padding: 0;
    padding-right: 1px;
    padding-left: 1px;
}

.li,
.item {
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 3 * 1.5);
    display: flex;
    flex-direction: column;
    font-size: small;
    align-items: center;
    background: #fff;
    border-color: rgb(233, 224, 212);
}

.no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.v-ul {
    list-style-type: circle;
    padding-left: 3;
}